<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>View All Payments</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment color="tertiary" [(ngModel)]="mode" (ionChange)="switchTab($event)">
      <ion-segment-button value="0">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Total</ion-label>
      </ion-segment-button>
      <ion-segment-button value="1">
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>Today</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row class="summary ion-margin-horizontal">
    <ion-col>
      <ion-card class="summaryCard ion-text-center">
        <ion-card-header class="summaryHeader">
          <ion-label class="summaryLabel" color="dark">{{ name }}</ion-label>
          <span class="membersCount" [style.background]="background">
            &#8377;&nbsp;{{totalAmount}}
          </span>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

  <ng-container *ngIf="usersPaymentInfo.length === 0">
    <ion-item class="noItems" lines="full">
      <ion-label class="ion-text-center">Sorry, No Payment Info Available!</ion-label>
    </ion-item>
  </ng-container>

  <ion-list>
    <ng-container *ngFor="let item of usersPaymentInfo">
      <ion-item button *ngIf="item.feesPaid === 'yes'" routerLink="/payment-detail/{{item.id}}">
        <ion-avatar slot="start">
          <img src="https://avatars.dicebear.com/api/initials/{{item.memberName}}.svg" />
        </ion-avatar>
        <ion-label class="ion-text-wrap">
          <h3>{{ item.memberName }}</h3>
          <p>Member ID: {{ item.memberId}}</p>
          <p>On: {{ item.paymentDateTime.toDate() |date: 'dd-MM-yyyy hh:mm aa'}}</p>
        </ion-label>
        <ion-badge slot="end"> &#8377;&nbsp;{{ item.amount }} </ion-badge>
      </ion-item>
    </ng-container>
  </ion-list>

</ion-content>