ion-card {
  border-radius: 12px;
}

.usersListCardHeader {
  padding: 12px 5px 12px 5px;
  cursor: pointer;
}

.usersListCardTitle {
  align-self: center;
}

.usersListCardContent {
  padding: 0px;
  border-top: 1px groove;
}

.usersListCardContent .firstRow .editBtn {
  border-right: 1px groove;
}

.usersListCardContent .secondRow {
  border-top: 1px groove;
}

.noItems {
  font-size: large;
  font-weight: 600;
}

ion-searchbar {
  --border-radius: 25px;
}
