<!-- <ion-header class="ion-no-border ion-no-padding">
  <ion-toolbar>
    <ion-title color="light" class="ion-text-center">Gym Management</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">

  <div class="registerLabel">Create Account</div>

  <ion-row class="avatar">
    <ion-avatar>
      <img src="assets/fitness.png">
    </ion-avatar>
  </ion-row>

  <form [formGroup]="credentials" (ngSubmit)="register()">

    <div class="input-group">
      <ion-item>
        <ion-input required formControlName="gymName" placeholder="Enter Gym Name" type="text"></ion-input>
      </ion-item>

      <div *ngIf="(gymName.dirty || gymName.touched) && gymName.errors" class="errors">
        <span *ngIf="gymName.errors?.required">Gym Name is required</span>
        <span *ngIf="gymName.errors?.minlength">Gym Name should have min of 3 letters!</span>
      </div>

      <ion-item>
        <ion-input required formControlName="gymOwnerName" placeholder="Enter Gym Owner Name" type="text"></ion-input>
      </ion-item>

      <div *ngIf="(gymOwnerName.dirty || gymOwnerName.touched) && gymOwnerName.errors" class="errors">
        <span *ngIf="gymOwnerName.errors?.required">Owner Name is required</span>
        <span *ngIf="gymOwnerName.errors?.minlength">Owner Name must've min len of 3 chars!</span>
        <span *ngIf="gymOwnerName.errors?.maxlength">Owner Name must've max len of 25 chars!</span>
      </div>

      <ion-item>
        <ion-textarea required formControlName="gymAddress" placeholder="Enter Gym Address" type="text"></ion-textarea>
      </ion-item>

      <div *ngIf="(gymAddress.dirty || gymAddress.touched) && gymAddress.errors" class="errors">
        <span *ngIf="gymAddress.errors?.required">Gym Address is required</span>
        <span *ngIf="gymAddress.errors?.minlength">Gym Address must've min len of 5 chars!</span>
      </div>

      <ion-item>
        <ion-input required formControlName="gymOwnerPhone" placeholder="Enter Owner Phone Number (without +91)" type="number"></ion-input>
      </ion-item>

      <div *ngIf="(gymOwnerPhone.dirty || gymOwnerPhone.touched) && gymOwnerPhone.errors" class="errors">
        <span *ngIf="gymOwnerPhone.errors?.required">Owner Phone Number is required</span>
        <span *ngIf="gymOwnerPhone.errors?.pattern">Phone number must be exactly 10 digits!</span>
      </div>

      <ion-item>
        <ion-input required formControlName="email" placeholder="Email" type="email"></ion-input>
      </ion-item>

      <div *ngIf="(email.dirty || email.touched) && email.errors" class="errors">
        <span *ngIf="email.errors?.required">Email is required</span>
        <span *ngIf="email.errors?.email">Email is invalid!</span>
      </div>

      <ion-item>
        <ion-input required formControlName="password" placeholder="Password" type="password"></ion-input>
      </ion-item>

      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="credentials.invalid">Register</ion-button>
    <ion-button class="loginBtn" type="button" expand="block" fill="clear" (click)="redirectToLogin()">
      Already a member? Login!
    </ion-button>

  </form>
</ion-content>