<ion-header class="ion-no-border ion-no-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center">More</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" color="light" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <div class="main-header"></div>

  <ion-item detail routerLink="/home" lines="full">
    <ion-label>
      <ion-icon name="arrow-redo-outline"></ion-icon> &nbsp; Share
    </ion-label>
  </ion-item>

</ion-content>