ion-header {
  ion-toolbar {
    --background: transparent;
  }
  ion-title {
    margin-left: -6vh;
  }
}

.main-header {
  height: 13vh;
  width: 100%;
  box-shadow: 0 1px 10px var(--ion-color-light);
  background: linear-gradient(
    90deg,
    var(--ion-color-tertiary) 10%,
    var(--ion-color-primary) 100%
  );
  border-radius: 0 0 50% 50%/0 0 100% 100%;
  transform: scaleX(2.6);
  margin-top: -116px;
}

.firstItem {
  margin-top: 4vh;
  border-top: 2px groove;
}

ion-row {
  border-bottom: 2px groove;
}

ion-col {
  border-right: 2px groove;
  text-align: center;
}
