@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

ion-content.intro {
  // --background: #0081ca;
  // --background: url("https://images.unsplash.com/photo-1590487988256-9ed24133863e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1928&q=80")
  // 0 0/100% 100% no-repeat;
}

.gym001Div {
  margin: auto;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1590487988256-9ed24133863e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1928&q=80")
    0 0/100% 100% no-repeat;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.gym002Div {
  margin: auto;
  width: 100%;
  height: 100%;
  background: url("https://images.unsplash.com/photo-1637430308606-86576d8fef3c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80")
    0 0/100% 100% no-repeat;
  font-weight: 700;
  font-family: "Lato", sans-serif;
}

.gym001Div h1,
.gym002Div h1 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}

.gym001Div p,
.gym002Div p {
  letter-spacing: 2px;
  font-weight: 400;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background-color: #000;
}
.swiper-pagination-bullet-active {
  background-color: #fff;
}

.swiper-slide,
.gym001Div,
.gym002Div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
