@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

* {
  font-family: "Lato", sans-serif;
}

ion-content {
  // --background: rgba(156, 217, 255, 0.8);

  .back-blob {
    z-index: -1;
    width: 600px;
    position: absolute;
    left: -50%;
    top: 0;
  }

  form {
    margin-top: 4px;
  }

  .container-form-btn {
    display: flex;
    justify-content: center;
  }

  .form-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 42px;
    background-color: #394752;
    border-radius: 20px;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 5px;
    transition: all 0.4s;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.5);
  }

  .form-btn:hover {
    background-color: #28333b;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.8);
  }

  .input-radio {
    display: block;
    background: transparent;
    font-family: Josefin Sans;
    font-size: 16px;
    line-height: 1.2;
    border: none;
    outline: none;
    --color-checked: #394752;
  }

  .wrap-input-radio {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 20px;
    margin-bottom: 16px;
    box-shadow: 0 10px 30px 0px rgba(57, 71, 82, 0.12);
  }
}

ion-content {
  --padding-top: 40%;
  --padding-start: 10%;
  --padding-end: 10%;

  --background: url("https://images.unsplash.com/photo-1536431311719-398b6704d4cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1234&q=80")
    0 0/100% 100% no-repeat;
}

.input-group {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 15px;
}

.errors {
  font-size: small;
  color: #fff;
  background: var(--ion-color-danger);
  padding-left: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
}
