<ion-header class="ion-no-border ion-no-padding">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title color="light" class="ion-text-center">Member Detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-header"></div>

  <ion-row class="avatar">
    <ion-avatar *ngIf="retrievedUser">
      <img src="https://avatars.dicebear.com/api/initials/{{retrievedUser.memberName}}.svg">
    </ion-avatar>
  </ion-row>

  <div *ngIf="retrievedUser" class="gymName">{{retrievedUser.memberName |titlecase}}</div>
  <div *ngIf="retrievedUser" class="gymEmail">{{retrievedUser.memberId |uppercase}}</div>

  <ion-card class="profileCard">

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Member ID</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.memberId |titlecase}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Member Name</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.memberName |titlecase}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Phone Number</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.phoneNumber}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Gender</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.gender |titlecase}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Date of Birth</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.birthDt.toDate() |date:'dd-MM-yyyy'}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Age</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.age}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Address</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.address}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Data Of Joining</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.joiningDt.toDate() |date:'dd-MM-yyyy'}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Fees Paid Status</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.feesPaid}}</b></ion-text>
      </ion-label>
    </ion-item>

    <ion-item *ngIf="retrievedUser" lines="solid">
      <ion-label>
        <p>
          <ion-text color="dark">Sub End Date</ion-text>
        </p>
        <ion-text color="dark"><b>{{retrievedUser.subscriptionEndDt |date:'dd-MM-yyyy'}}</b></ion-text>
      </ion-label>
    </ion-item>
  </ion-card>
</ion-content>